@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FiraSans';
	font-style: normal;
	src: url('/fonts/FiraSans/FiraSans-Regular.ttf');
}

@font-face {
	font-family: 'Maitree';
	font-style: normal;
	src: url('/fonts/Maitree/Maitree-Regular.ttf');
}

@font-face {
	font-family: 'Sintony';
	font-style: normal;
	src: url('/fonts/Sintony/Sintony-Regular.ttf');
}

:root {
	/* color theme */
	--gray-nurse: #d4f0d5; /*Light shades*/
	--emerald: #46cd75; /*Light accent*/
	--pewter: #99aca0; /*Main brand color*/
	--granny-smith-apple: #a7e28d; /*Dark accent*/
	--tom-thumb: #3a5c34; /*Dark shades*/

	--max-width: 32rem;
}

@layer utilities {
	.bg-gray-nurse {
		background-color: var(--gray-nurse);
	}

	.max-width {
		max-width: var(--max-width);
	}
}
